.gridOverlay
    pointer-events none
    position fixed
    z-index 1000
    top 0
    right 0
    bottom 0
    left 0
    &.goback .top
        height calc(100vh - 80px)
        z-index -1
        background $white
        top calc(-100vh + 80px + 78px)
    .top
    .bottom
        position absolute
        left 0
        right 0
        height 0
    .top
        top 80px - 2px
        border-bottom $gray-500 4px dashed
    .bottom
        border-top $gray-500 4px dashed
        height calc(100vh - 80px)
        z-index -1
        background $white
        top calc(100vh - 24px)
    .left
    .right
        position absolute
        top 0
        bottom 0
        height 100%
        width 0
        border-right $gray-500 4px dashed
    .right
        right calc(30vw - 2px)
    .left
        left 80px - 2px
