html
body
    margin 0
    background $white

 /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar
  display none

/* Hide scrollbar for IE, Edge and Firefox */
html
  -ms-overflow-style none  /* IE and Edge */
  scrollbar-width none  /* Firefox */

.appContainer
    display flex
    height 100vh
    width 600vw
    position fixed
    top 0
    left 0

main
    width 500vw
    flex 0 0 500vw
    height 100vh
    display flex

section.block
  width 100vw
  height calc(100% - 82px - 24px)
  padding-left 80px
  margin-top 82px
  margin-bottom 24px
  box-sizing border-box
  &.dark
    background $gray-200