.light
    position fixed
    width 100vh
    height 100vh
    background radial-gradient($green-100 0%, rgba($green-100, 0) 70%)
    border-radius 50%
    top -50vh
    left -50vh
    will-change transform
    &.blue
        background radial-gradient($blue-100 0%, rgba($blue-100, 0) 70%)
        top calc(-50vh - 82px)
        left -50vh

.block.dark
    position relative
    overflow hidden
    .light
        position absolute
        z-index 0


svg
    display none
    position fixed
    z-index 100
    top 0
    left 100vw
    width 500vw
    height 100vh