<svg id="js-path" width="7200" height="900" viewBox="0 0 7200 900" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M1093 472.5C540 533.5 311.5 926.5 281 595C250.5 263.5 930.632 452.706 1093 382.5" stroke="black"/>
    <path d="M2533 382C2801 205 2189.06 114.214 2060.5 255.5C1934 394.522 1980.1 829.9 2214.5 711.5C2448.9 593.1 2470.96 837.824 2578.5 744C2651.56 680.256 2742.03 564.011 2661.5 510" stroke="black"/>
    <path d="M4101.5 510C3937.5 400 3716.4 480.4 3596 402C3445.5 304 3238 269 3189 325.5C3140 382 3273.5 535 3478.5 538.5C3683.5 542 3792.04 542.827 3903.5 410" stroke="black"/>
    <path d="M5343.5 410C5408.83 332.14 5534.8 235.5 5438 167.5C5317 82.5 4235 254.5 4443 435.5C4651 616.5 4613.5 788.5 4929.5 693.5C5245.5 598.5 4995.5 551 5046.5 456C5097.5 361 5163.04 328.723 5246.5 355" stroke="black"/>
    <path d="M6686.5 355C6764.23 379.471 6842.9 716.6 6754.5 759C6666.1 801.4 6508 493 6370 450" stroke="black"/>
</svg>
    

<section class="block">
    <div class="title-container">
        <h3 class="subtitle gray500">Social - Liberté - Vision</h3>
        <h1 class="gray500">Anticipez les impacts sur les utilisateurs</h1>
        <div class="body-container">
            <p class="gray500">Les produits numériques ont révolutionné la vie quotidienne moderne. De simples choix de design comme le bouton J'aime de Facebook ou le scroll infini de Twitter ont modelé les jeunes générations. À vous de faire les bons choix pour faire grandir la société !</p>
        </div>
    </div>
</section>
<section class="block dark">
    <div class="container">
        <div class="proposition-container">
            <div class="head-container">
                <h3 class="subtitle blue500">Proposition 1</h3>
                <h2 class="title gray500">En créant un système de notification respectueux de la vie de l'utilisateur et ajustable manuellement</h2>
            </div>
            <ul class="ul-container">
                <li>
                    <p class="body gray500">
                        Par défaut, minimisez le nombre de notifications au strict minimum
                    </p>
                </li>
                <li>
                    <p class="body gray500">
                        Proposez plusieurs modes de notification selon les envies de l’utilisateur : Minimal | Standard | Complet
                    </p>
                </li>
                <li>
                    <p class="body gray500">
                        Laissez une liberté granulaire pour choisir ses notifications selon le type d'information et le canal de transmission
                    </p>
                </li>
            </ul>
        </div>
        <div class="icon-1">
            <div class="top-part"></div>
            <div class="mid-part"></div>
            <div class="bot-part"></div>
        </div>
    </div>
    <div class="light blue js-light"></div>
</section>
<section class="block">
    <div class="container"> 
        <div class="proposition-container">
            <div class="head-container">
                <h3 class="subtitle green500">Proposition 2</h3>
                <h2 class="title gray500">En aidant les utilisateurs à mieux comprendre le temps qu'ils passent sur votre produit</h2>
            </div>
            <ul class="ul-container active">
                <li>
                    <div class="list-decoration1"></div>
                    <p class="body gray500">
                        Mettre à disposition un tableau de bord de l'utilisation du service
                    </p>
                </li>
                <li>
                    <p class="body gray500">
                        Laisser l'utilisateur paramétrer une durée maximale d'utilisation journalière de votre app
                    </p>
                </li>
                <li>
                    <p class="body gray500">
                        Envoyer des messages invitant à changer d'air après une trop longue période d'activité sur le site
                    </p>
                </li>
            </ul>
        </div>
        <div class="icon-1">
            <div class="top-part"></div>
            <div class="mid-part"></div>
            <div class="bot-part"></div>
        </div>
    </div>
</section>
<section class="block dark">
    <div class="container">
        <div class="proposition-container">
            <div class="head-container">
                <h3 class="subtitle blue500">Proposition 3</h3>
                <h2 class="title gray500">En envisageant des solutions pour permettre à chacun de profiter de votre service selon ses moyens</h2>
            </div>
            <ul class="ul-container active">
                <li>
                    <div class="list-decoration1"></div>
                    <p class="body gray500">
                        Créer une offre étudiante/personnes agées/sans emplois pour aider ces personnes à profiter de vos services de manière avantageuse
                    </p>
                </li>
                <li>
                    <p class="body gray500">
                        Mettre en place une cagnotte communautaire pour offrir des prestations gratuites aux personnes dans le besoin
                    </p>
                </li>
            </ul>
        </div>
        <div class="icon-1">
            <div class="top-part"></div>
            <div class="mid-part"></div>
            <div class="bot-part"></div>
        </div>
    </div>
    <div class="light blue js-light"></div>
</section>
<section class="block">
    <h1>Block end</h1>
</section>