.icon-1
    width 180px
    height 180px
    display flex
    flex-direction column
    align-items center
    .top-part
        width 100px
        height 80px
        background #FFF
        border-radius 100px 100px 0px 0px
        margin 18px 0px 8px 0px
    .mid-part
        width 120px
        height 20px
        background #FFF
        margin-bottom 8px
    .bot-part
        width 60px
        height 28px
        border-radius 0px 0px 56px 56px
        background #FFF


