.container
    width 100%
    height 100%
    display flex
    align-items center
    justify-content space-around
    position relative
    z-index 2

.proposition-container
    width 44%

.title-container
    width 58%
    margin-left 10%
    margin-top 10%

.body-container
    width 100%

.block
    .proposition-container
        transform translateY(50%)
        will-change transform
        transition transform .4s ease-in-out
        .head-container
            transform translateY(-50%)
            will-change transform
            transition transform .4s ease-in-out
        .ul-container
            opacity 0
            will-change opacity
            transition opacity .3s .2s ease-in-out
            list-style none
            li
                display flex
                width 70%
                margin-bottom 4%
    &.active
        .proposition-container
            transform translateY(0%)
            .head-container
                transform translateY(0%)
            .ul-container
                opacity 1