$green-500 = #81D155
$green-100 = #CEEBBE

$purple-500 = #59089E

$blue-500 = #42A5F5
$blue-100 = #CDE6F6

$white = #ffffff

$gray-500 = #2B1E31
$gray-400 = #94969C
$gray-200 = #F9F9F9

.green500
    color $green-500

.green100
    color $green-100

.purple500
    color $purple-500

.blue500
    color $blue-500

.blue100
    color $blue-100

.white
    color $white

.gray500
    color $gray-500

.gray400
    color $gray-400

.gray200
    color $gray-200