$serif = Palatino, 'Times New Roman', Times, serif
$sans-serif = Verdana, Geneva, Tahoma, sans-serif

h1
h2
h3
h4
h5
h6
p
    margin 0

h1
.largeTitle
    font-family $serif
    font-size 80px
    font-weight 400
    letter-spacing 2px

h2
.title
    font-family $serif
    font-size 32px
    font-weight 100
    line-height 40px
    letter-spacing 2px

h3
.subtitle
    font-family $serif
    font-size 24px
    font-weight 100

p
.body
    font-family $sans-serif
    font-weight 400
    font-size 18px
    line-height 27px
    &.detail
        font-size 16px
        line-height auto
    &.highlight
        font-weight 800
        letter-spacing 1px

